input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

body{
  background-color:brown;
}

.login-message {
  display: flex;
  width: 400px;
  color:white;
  font-size: 18px;

}

.header-button{
  position: relative;
  float: right;
  margin-right: 40px;
  margin-top: -50px;
}

.header {
  width: 100%;
  height: 90px;
  background-color: rgb(231, 76, 20);
}

.header-title {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  font-size: 33px;

  text-decoration: none;
}

.signin {
  display: flex;
  justify-content: center;
}

.addCart {
  display: flex;
  justify-content: center;
}

.card-block {
  background-color:rgb(250, 117, 40);
  padding: 15px;
  border-radius: 5px;
}

.discribe {
  resize: vertical;
  min-height: 50px;
  width: 300px;
  border-radius: 5px;
}



.item-title {
  text-align: center;
  color: beige;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "header header"
    "row";

  height: 100%;
  justify-content: center;
  color: white;
}

.item-header{
  grid-area: header;
}

.item-card{
  border: 1px solid rgb(247, 56, 56);
  padding: 20px;
  background-color:rgb(250, 117, 40);
}

.item-button{
  text-align: center;
}

.item-discribe{
  word-wrap: break-word;
}

.item-img {
  max-width: 200px;
  min-height: 200px;
  min-height: 200px;
  max-height: 200px;
}

.redact-card {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.redact-card.active {
  transform: scale(1);
}

.redact-card__content{
  padding: 20px;
  border-radius: 12px;
  background-color:rgb(231, 76, 20); 
}

.btn {
  background-color: rgba(255, 255, 0, 0.938);
  display: inline-block;
  text-decoration: none;
  padding: 6px 15px;
  margin: 10px;
  max-width: 200px;
  max-height: 50px;
  
  color:black;

  vertical-align: top;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  border: none;
  border-radius: 5px;
}

.btn:hover {
   cursor: pointer;
   background-color: rgba(223, 223, 24, 0.774);
}

.delete-btn {
  background-color:rgb(228, 60, 60);
  color:white;
}